*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

:root {
  cursor: default;
  line-height: 1;
  overflow-wrap: break-word;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  text-size-adjust: 100%;
}

a {
  font-size: inherit;
  text-decoration: none;
}

a,
hr {
  color: inherit;
}

audio,
canvas,
iframe,
img,
svg,
video {
  display: block;
  vertical-align: middle;
}

body {
  margin: 0;
}

button {
  appearance: button;
  cursor: pointer;
}

button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  margin: 0;
}

button,
fieldset,
input,
select,
textarea {
  border: none;
  padding: 0;
}

blockquote,
dd,
dl,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ol,
p,
pre,
ul {
  margin: 0;
  margin-block: 0 0;
  margin-inline: 0 0;
  padding-block: 0 0;
  padding-inline: 0 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  margin-block: 0 0;
  margin-inline: 0 0;
  padding-block: 0 0;
  padding-inline: 0 0;
}

figure {
  margin: 0;
}

iframe {
  border-style: none;
}

iframe,
img,
video {
  height: auto;
  max-width: 100%;
}

input,
select,
textarea {
  height: auto;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

select {
  appearance: none;
  border-radius: 0;
}

textarea {
  resize: vertical;
}
